@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/fonts";
@import "../../styles/_buttons";

.cards_section {
  background-color: $main-color;
  width: 100%;
  height: 40vh;
  padding: 2rem;

  .cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 2rem;

    .card {
      height: 100%;
      width: 100%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      p,
      h1 {
        color: $gray-color;
      }
    }
  }
}
